.htaccess
elmarcosite/config.php
elmarcosite/elmarco/config.php

!elmarcosite/index.html

storage/download/
elmarcosite/image/data/
elmarcosite/image/cache/
elmarcosite/system/cache/
elmarcosite/system/logs/

elmarcosite/system/storage/

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache
